<!doctype html>
<html ng-app="miApp">
<head>
    
    <meta charset="utf-8">
    <title> metodo angular JS</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>
    
    <body>
        
        <div ng-controller="circunferencia">
        
        
        <label>Diametro :</label>
        <input type="text" ng-model="diametro">
        <button ng-click="calcularCircunferencia()"> calcular </button>
       
            {{ circunferencia }}
            
        </div>
        
        
        
    <script>
        
        var miAaplicacion = angular.module('miApp',[])
        
        miAaplicacion.controller ('circunferencia', ['$scope',function($scope){
                                                  
            var pi =3.14
            
                $scope.calcularCircunferencia= function(){
                    
                    $scope.circunferencia = $scope.diametro * pi 
                    
            
                }
                                                   
        }])
        
        
        
        
        
        </script>    
    
  
    
    </body>
    
    
    
    
    
</html>